body {
    text-align: center;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.choice-img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.choice-container div {
    display: flex;
    flex-direction: column; /* Столбцы для изображения и кнопки */
    align-items: center; /* Выравнивание элементов столбца по центру */
    margin: 0 10px; /* Отступы между элементами */
}

.choice-img {
    width: 100px; /* Фиксированная ширина */
    height: 100px; /* Фиксированная высота */
    margin-bottom: 10px; /* Отступ снизу */
}

.button-choice {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}

.button-choice:hover {
    background-color: #43a049;
    border-color: #43a049;
}
